<% title "Surveys" %>

<div class="items">
    <ol>
  <% for survey in @surveys %>
      <li><%= show_form survey.name, survey %></li>
  <% end %>
    </ol>
</div>


<p><%= add_partial_to_form "New Survey"%></p>
<p><%#= link_to "New Survey", new_survey_path %></p>
